<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <client>
        <endpoint
          name="StockConfigName"
          address="http://localhost:53284/Stock"
          binding="basicHttpBinding"
          contract="StockLibrary.IStock"
         />
      </client>
    </system.serviceModel>
</configuration>