<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <services>
        <service name="WCFServer.Stock">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:53284/Stock"/>
            </baseAddresses>
          </host>
          <endpoint
            address=""
            binding="basicHttpBinding"
            contract="StockLibrary.IStock"
            />
        </service>
      </services>
    </system.serviceModel>
</configuration>